.env
*.pem

__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.ruff_cache/

data/
*.sqlite
*.dump

node_modules/
dist/
.vite/

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
.DS_Store
